<% @page_title = "Users" %>

<div class="Users index">
  <h2>Users</h2>

  <%= link_to("Add New User", {:action => "new"}, :class => 'action new') %>
  
  <table class="listing" summary="User list">
    <tr class="header">
      
      <th>ID</th>
      <th>First Name</th>
      <th>Last name</th>
      <th>E-mail</th>
      <th>Is account active?<th>
      <th>Actions</th>
    </tr>
    <% @admin_users.each do |admin_user| %>
    <tr class="<%= cycle('odd', 'even') %>">
    	<td><%= admin_user.id %></td>
    	<td><%= admin_user.first_name %></td>
    	<td><%= admin_user.last_name %></td>
    	<td><%= admin_user.email %></td>
    	<td><%= admin_user.is_active %></td>
    	<td class="actions">
    		<%= link_to("Show", {:action => 'show', :id => admin_user.id} , :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => admin_user.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => admin_user.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>

    
    </tr>
    
  </table>
</div>
